@import url("../css/normalize.css");
@import url("../css/setting.css");
.promo-container {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../media/why-creativia/background-black.jpg");
}

header {
  height: 67px;
  background-color: rgba(0, 0, 0, 0.5);
}
header .logo {
  background-image: url("../media/why-creativia/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 66px;
  margin-bottom: 11px;
  vertical-align: middle;
  z-index: 15;
  width: 120px;
  height: 23px;
}
header .logo:hover {
  cursor: pointer;
  background-image: url("../media/why-creativia/logo-active.png");
}
header .hexagon {
  position: absolute;
  top: -3px;
  left: 15px;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.nav-container {
  display: flex;
  height: 100%;
}
.nav-container ul {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-container li {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.nav-container a {
  position: relative;
  font-family: raleway-reg;
  text-decoration: none;
  font-size: 18px;
  color: #a4a4a4;
  padding-left: 3px;
}
.nav-container a:hover {
  color: #fff;
  cursor: pointer;
}
.nav-container .active-menu-item {
  position: relative;
}
.nav-container .active-menu-item:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 25px;
  border: 1px solid #ff0036;
}

/* need ending this moment*/
.wr-promo .container {
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
  padding-left: 15px;
}
.wr-promo h1 {
  font-family: raleway-bold;
  font-size: 30px;
  color: #f7f7f7;
  margin-top: 20px;
  margin-bottom: 0px;
}
.wr-promo span {
  color: #ff0036;
}
.wr-promo h3 {
  font-family: lato-light;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  margin-top: 40px;
}
.wr-promo .promo-btns-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.wr-promo .btn-promo {
  display: inline-flex;
  justify-content: center;
  width: 170px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: raleway-medium;
  font-size: 20px;
  color: #f7f7f7;
  text-decoration: none;
  align-items: center;
  background-color: #131313;
}
.wr-promo .btn-promo:hover {
  background-color: #ff0036;
}

/*dodelat*/
.slider {
  width: 1030px;
}
.slider .slick-slider {
  position: relative;
}
.slider .slick-prev {
  display: block;
  position: absolute;
  top: 82%;
  left: -130px;
  width: 17px;
  height: 28px;
  background-image: url("../media/why-creativia/left-arrow-gray.png");
}
.slider .slick-prev::before {
  display: none;
}
.slider .slick-prev:hover {
  background-image: url("../media/why-creativia/left-arrow-active.png");
  cursor: pointer;
}
.slider .slick-next {
  display: block;
  position: absolute;
  top: 82%;
  right: -130px;
  width: 17px;
  height: 28px;
  background-image: url("../media/why-creativia/right-arrow-gray.png");
}
.slider .slick-next::before {
  display: none;
}
.slider .slick-next:hover {
  background-image: url("../media/why-creativia/right-arrow-active.png");
  cursor: pointer;
}

.wr-about .container {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}
.wr-about .decoration {
  margin-top: 100px;
}

.container-head {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-head h2 {
  font-family: raleway-bold;
  color: #262626;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 0px;
}
.container-head span {
  color: #ff0036;
}
.container-head h3 {
  font-family: lato-bold;
  color: #262626;
  margin-bottom: 0px;
  margin-top: 38px;
  font-size: 16px;
}

.container-list {
  margin-top: 100px;
  display: flex;
  /*btn::after*/
}
.container-list .container-list-main {
  flex-direction: column;
  width: 570px;
  margin-right: 30px;
}
.container-list .container-list-main .head-toggles {
  font-family: lato-reg;
  font-size: 16px;
  color: #5c5c5c;
  margin-top: 0px;
  text-align: justify;
}
.container-list .toggles {
  flex-direction: column;
  width: 100%;
}
.container-list .btn {
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
  background-image: url("../media/about/plus-closed.png");
  background-repeat: no-repeat;
  background-position: 0.5%;
}
.container-list .toggles span {
  font-family: raleway-medium;
  font-size: 20px;
  color: #3f3f3f;
}
.container-list .content {
  font-family: lato-reg;
  font-size: 14px;
  color: #505050;
  margin-top: 0;
  padding-left: 17px;
  padding-right: 17px;
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  line-height: 1.4;
  transition: 0.5s;
}

.qualities {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.qualities div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
}
.qualities h3 {
  font-family: raleway-medium;
  font-size: 20px;
  color: #262626;
  margin-bottom: 0;
  margin-top: 35px;
}
.qualities p {
  font-family: lato-reg;
  font-size: 16px;
  color: #616161;
  text-align: center;
  margin-bottom: 0;
  margin-top: 26px;
}
.qualities .flat-design .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-heart-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .flat-design .active:hover {
  background-image: url("../media/about/decorate-heart-active.png");
  cursor: pointer;
}
.qualities .retina-ready .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-ok-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .retina-ready .active:hover {
  background-image: url("../media/about/decorate-ok-active.png");
  cursor: pointer;
}
.qualities .responsive .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-screen-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .responsive .active:hover {
  background-image: url("../media/about/decorate-screen-active.png");
  cursor: pointer;
}
.qualities .clean .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-fire-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .clean .active:hover {
  background-image: url("../media/about/decorate-fire-active.png");
  cursor: pointer;
}

.wr-protfolio {
  background-color: #262626;
}
.wr-protfolio .container {
  align-items: center;
  flex-direction: column;
}
.wr-protfolio .container h2 {
  margin-top: 100px;
  font-family: raleway-bold;
  font-size: 30px;
  color: #fff;
  margin-bottom: 0px;
}
.wr-protfolio .container ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 27px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.wr-protfolio .container li {
  padding-left: 0px;
}
.wr-protfolio .container a {
  text-decoration: none;
  margin-left: 0px;
  margin-right: 23px;
  font-family: lato-bold;
  font-size: 16px;
  color: #a4a4a4;
}
.wr-protfolio .container a:hover {
  color: #ff0036;
}

/*draft*/
.container-portfolio-one {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 4fr 3fr 4fr 3fr;
  height: 350px;
}
.container-portfolio-one .money {
  background-color: #f39943;
  position: relative;
}
.container-portfolio-one .money img {
  position: relative;
  top: 35%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .money .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .money .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-one .money .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .money:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .money::after {
  content: "";
  position: absolute;
  width: 32%;
  height: 104px;
  top: 45%;
  left: 68%;
  z-index: 5;
  background-image: url("../media/portfolio/money-shadow.png");
  background-repeat: no-repeat;
}
.container-portfolio-one .bank {
  background-color: #3782aa;
  position: relative;
}
.container-portfolio-one .bank img {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .bank .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .bank .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-one .bank .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .bank:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .bank::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 110px;
  top: 42.8%;
  left: 80%;
  z-index: 5;
  background-image: url("../media/portfolio/bank-shadow.png");
  background-repeat: no-repeat;
}
.container-portfolio-one .flower {
  background-color: #ef5d88;
  position: relative;
}
.container-portfolio-one .flower img {
  position: absolute;
  top: 27%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .flower .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .flower .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-one .flower .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .flower:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .flower::after {
  content: "";
  position: absolute;
  width: 38%;
  height: 96px;
  top: 46.8%;
  left: 62%;
  z-index: 5;
  background-image: url("../media/portfolio/flower-shadow.png");
  background-repeat: repeat;
}
.container-portfolio-one .cards {
  background-color: #f6f0e0;
  position: relative;
}
.container-portfolio-one .cards img {
  position: absolute;
  top: 27%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .cards .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .cards .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-one .cards .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .cards:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .cards::after {
  content: "";
  position: absolute;
  width: 13%;
  height: 110px;
  top: 49.5%;
  left: 87%;
  z-index: 5;
  background-image: url("../media/portfolio/cards-shadow.png");
  background-repeat: no-repeat;
}

.container-portfolio-two {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr 4fr;
  height: 350px;
  padding-bottom: 100px;
}
.container-portfolio-two .calculator {
  background-color: #56cc82;
  position: relative;
}
.container-portfolio-two .calculator img {
  position: relative;
  top: 29%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .calculator .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .calculator .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-two .calculator .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .calculator:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .calculator::after {
  content: "";
  position: absolute;
  width: 38%;
  height: 125px;
  top: 43.8%;
  left: 62%;
  z-index: 5;
  background-image: url("../media/portfolio/calculator-shadow.png");
  background-repeat: repeat;
}
.container-portfolio-two .converter {
  background-color: #95a5a5;
  position: relative;
}
.container-portfolio-two .converter img {
  position: absolute;
  top: 29%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .converter .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .converter .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-two .converter .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .converter:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .converter::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 112px;
  top: 44.8%;
  left: 65%;
  z-index: 5;
  background-image: url("../media/portfolio/converter-shadow.png");
  background-repeat: repeat;
}
.container-portfolio-two .wallet {
  background-color: #24b0c9;
  position: relative;
}
.container-portfolio-two .wallet img {
  position: absolute;
  top: 27%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .wallet .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .wallet .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-two .wallet .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .wallet:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .wallet::after {
  content: "";
  position: absolute;
  width: 19%;
  height: 115px;
  top: 45.5%;
  left: 81%;
  z-index: 5;
  background-image: url("../media/portfolio/wallet-shadow.png");
  background-repeat: no-repeat;
}
.container-portfolio-two .check {
  background-color: #fa8562;
  position: relative;
}
.container-portfolio-two .check img {
  position: absolute;
  top: 31.5%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .check .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .check .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-two .check .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .check:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .check::after {
  content: "";
  position: absolute;
  width: 31%;
  height: 92px;
  top: 48.8%;
  left: 69%;
  z-index: 5;
  background-image: url(../media/portfolio/check-shadow.png);
  background-repeat: repeat;
}

.wr-feature {
  background-image: url("../media/products-features/background.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 72%;
}
.wr-feature a {
  text-decoration: none;
  font-family: raleway-medium;
  font-size: 20px;
  color: #262626;
}
.wr-feature .container {
  align-items: center;
  flex-direction: column;
  position: relative;
}
.wr-feature .container .feature-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  position: relative;
}
.wr-feature .container .feature-head img {
  position: absolute;
  top: -109px;
  left: 28%;
}
.wr-feature .container h2 {
  font-family: raleway-bold;
  color: #262626;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 0px;
}
.wr-feature .container span {
  color: #ff0036;
}
.wr-feature .container h3 {
  font-family: lato-bold;
  color: #262626;
  margin-bottom: 0px;
  margin-top: 42px;
  font-size: 16px;
}
.wr-feature .btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 157px;
  width: 100%;
}
.wr-feature .btns-container .left-side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wr-feature .btns-container .left-side .btn-left {
  width: 370px;
  height: 52px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  margin-top: 23px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../media/products-features/pass-icon.png");
  background-repeat: no-repeat;
  background-position-x: 310px;
  background-position-y: center;
}
.wr-feature .btns-container .left-side p {
  margin-right: 75px;
}
.wr-feature .btns-container .left-side .btn-left:hover {
  background-image: url("../media/products-features/active-icon.png");
  background-color: #ff0036;
  color: #fff;
}
.wr-feature .btns-container .right-side {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.wr-feature .btns-container .right-side .btn-right {
  width: 368px;
  height: 50px;
  border: 1px solid #e1e1e1;
  margin-top: 23px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-image: url("../media/products-features/pass-icon.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
}
.wr-feature .btns-container .right-side p {
  margin-left: 75px;
}
.wr-feature .btns-container .right-side .btn-right:hover {
  background-image: url("../media/products-features/active-icon.png");
  background-color: #ff0036;
  color: #fff;
}
.wr-feature .btn-free-psd {
  display: inline-flex;
  justify-content: center;
  width: 170px;
  height: 50px;
  margin-bottom: 180px;
  margin-top: 185px;
  color: #f7f7f7;
  align-items: center;
  background-color: #393939;
}
.wr-feature .btn-free-psd:hover {
  background-color: #ff0036;
}

.wr-clients {
  background-image: url("../media/clints/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wr-clients .container {
  flex-direction: column;
}
.wr-clients .container .clients-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 94px;
  width: 100%;
  position: relative;
}
.wr-clients .container .clients-head h2 {
  font-family: raleway-bold;
  color: #fff;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 0px;
}
.wr-clients .container .clients-head span {
  color: #ff0036;
}
.wr-clients .container .clients-head h3 {
  font-family: lato-bold;
  color: #a4a4a4;
  margin-bottom: 0px;
  margin-top: 38px;
  font-size: 16px;
}

.clients-main {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.clients-main .happy-clients {
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients-main .happy-clients h3 {
  font-family: raleway-medium;
  font-size: 20px;
  color: #fff;
  margin: 0px;
}
.clients-main .happy-clients p {
  color: #a4a4a4;
  font-family: lato-reg;
  font-size: 16px;
  margin: 0px;
  margin-top: 40px;
  text-align: justify;
  text-align-last: center;
  line-height: 1.2;
}
.clients-main .clients-slider {
  width: 120px;
  height: 57px;
  position: relative;
  margin: 48px 0 0 0;
}
.clients-main .clients-slider p {
  margin: 0;
  margin-top: 14px;
  font-family: raleway-bold;
  font-size: 16px;
  color: #ff0036;
}
.clients-main .clients-slider .slick-dots {
  bottom: -66px;
}
.clients-main .clients-slider .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 2.5px;
}
.clients-main .clients-slider .slick-dots li button {
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
}
.clients-main .clients-slider .slick-dots li button:hover {
  background-color: #ff0036;
  cursor: pointer;
}
.clients-main .clients-slider img {
  margin: 0 auto;
}
.clients-main .instruments {
  width: 570px;
  display: flex;
}
.clients-main .instruments a {
  text-decoration: none;
  background-color: #fbfbfb;
  width: 270px;
  height: 115px;
  box-shadow: inset 0px 0px 68px 0px rgba(0, 0, 0, 0.75);
  align-items: center;
}
.clients-main .instruments a:hover span {
  color: #ff0036;
  cursor: pointer;
}
.clients-main .instruments .graphic {
  display: inline-flex;
  justify-content: flex-end;
  background-position-x: 28%;
  background-position-y: 61%;
  background-image: url("../media/clints/graphicriver.png");
  background-repeat: no-repeat;
}
.clients-main .instruments .graphic span {
  font-family: mgopen;
  font-size: 24.16px;
  color: #292626;
  margin-right: 49px;
}
.clients-main .instruments .photo {
  display: inline-flex;
  justify-content: flex-end;
  background-position-x: 32%;
  background-position-y: 53%;
  background-image: url("../media/clints/photodune.png");
  background-repeat: no-repeat;
  margin-top: 40px;
}
.clients-main .instruments .photo span {
  font-family: mgopen;
  font-size: 24.16px;
  color: #292626;
  margin-right: 56px;
}
.clients-main .instruments .video {
  display: inline-flex;
  justify-content: flex-end;
  background-position-x: 32%;
  background-position-y: 53%;
  background-image: url("../media/clints/videohive.png");
  background-repeat: no-repeat;
}
.clients-main .instruments .video span {
  font-family: mgopen;
  font-size: 24.16px;
  color: #292626;
  margin-right: 32px;
}
.clients-main .instruments .code {
  display: inline-flex;
  justify-content: flex-end;
  background-position-x: 30.5%;
  background-position-y: 50%;
  background-image: url("../media/clints/codecanyon.png");
  background-repeat: no-repeat;
  margin-top: 40px;
}
.clients-main .instruments .code span {
  font-family: mgopen;
  font-size: 24.16px;
  color: #292626;
  margin-right: 22px;
}
.clients-main .instruments .left-column {
  margin-right: 15px;
}
.clients-main .instruments .right-column {
  margin-left: 15px;
}

.wr-teamwork .container {
  flex-direction: column;
}
.wr-teamwork .container .teamwork-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 94px;
  width: 100%;
  position: relative;
}
.wr-teamwork .container .teamwork-head h2 {
  font-family: raleway-bold;
  color: #262626;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 0px;
}
.wr-teamwork .container .teamwork-head span {
  color: #ff0036;
}
.wr-teamwork .container .teamwork-head h3 {
  font-family: lato-bold;
  color: #505050;
  margin-bottom: 0px;
  margin-top: 38px;
  font-size: 16px;
}
.wr-teamwork .container .teamwork-head img {
  position: absolute;
  top: -103px;
  left: 27.5%;
}
.wr-teamwork .teamwork-main {
  display: flex;
  justify-content: space-around;
  margin-top: 98px;
}
.wr-teamwork .wayne, .wr-teamwork .srour, .wr-teamwork .doe, .wr-teamwork .de {
  width: 270px;
  height: 361px;
  line-height: 0.74;
  position: relative;
}
.wr-teamwork .wayne h3, .wr-teamwork .srour h3, .wr-teamwork .doe h3, .wr-teamwork .de h3 {
  font-size: 20px;
  color: #262626;
  margin: 33px 0 0 0;
}
.wr-teamwork .wayne p, .wr-teamwork .srour p, .wr-teamwork .doe p, .wr-teamwork .de p {
  color: #505050;
  font-family: lato-reg;
  font-size: 16px;
  margin: 26px 0 35px 0;
}
.wr-teamwork .wayne .team-info, .wr-teamwork .srour .team-info, .wr-teamwork .doe .team-info, .wr-teamwork .de .team-info {
  margin: 0;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wr-teamwork .wayne-hover, .wr-teamwork .srour-hover, .wr-teamwork .doe-hover, .wr-teamwork .de-hover {
  display: none;
  width: 270px;
  height: 361px;
  line-height: 0.74;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-teamwork .wayne-hover .social-networks, .wr-teamwork .srour-hover .social-networks, .wr-teamwork .doe-hover .social-networks, .wr-teamwork .de-hover .social-networks {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}
.wr-teamwork .wayne-hover .social-networks .facebook, .wr-teamwork .srour-hover .social-networks .facebook, .wr-teamwork .doe-hover .social-networks .facebook, .wr-teamwork .de-hover .social-networks .facebook {
  content: url("../media/teamwork/facebook.png");
  margin: 0 5px;
}
.wr-teamwork .wayne-hover .social-networks .google, .wr-teamwork .srour-hover .social-networks .google, .wr-teamwork .doe-hover .social-networks .google, .wr-teamwork .de-hover .social-networks .google {
  content: url("../media/teamwork/google+.png");
  margin: 0 5px;
}
.wr-teamwork .wayne-hover .social-networks .twitter, .wr-teamwork .srour-hover .social-networks .twitter, .wr-teamwork .doe-hover .social-networks .twitter, .wr-teamwork .de-hover .social-networks .twitter {
  content: url("../media/teamwork/twitter.png");
  margin: 0 5px;
}
.wr-teamwork .wayne-hover h3, .wr-teamwork .srour-hover h3, .wr-teamwork .doe-hover h3, .wr-teamwork .de-hover h3 {
  font-size: 20px;
  color: #ff0036;
  margin: 33px 0 0 0;
}
.wr-teamwork .wayne-hover p, .wr-teamwork .srour-hover p, .wr-teamwork .doe-hover p, .wr-teamwork .de-hover p {
  color: #505050;
  margin: 26px 0 35px 0;
  font-family: lato-reg;
  font-size: 16px;
}
.wr-teamwork .wayne-hover .team-info-hover, .wr-teamwork .srour-hover .team-info-hover, .wr-teamwork .doe-hover .team-info-hover, .wr-teamwork .de-hover .team-info-hover {
  margin: 0;
  border: 1px solid #262626;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wr-teamwork .wayne:hover .wayne-hover, .wr-teamwork .srour:hover .srour-hover, .wr-teamwork .doe:hover .doe-hover, .wr-teamwork .de:hover .de-hover {
  display: block;
  cursor: pointer;
}

.wr-skills .container {
  flex-direction: column;
}
.wr-skills .container .skills-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.wr-skills .container .skills-head h2 {
  font-family: raleway-bold;
  color: #262626;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 90px;
}
.wr-skills .container .skills-head span {
  color: #ff0036;
}
.wr-skills .container .skills-head h3 {
  font-family: lato-bold;
  color: #505050;
  margin-bottom: 0px;
  margin-top: 38px;
  font-size: 16px;
}
.wr-skills .container .skills-head .decoration {
  margin: 0 auto;
  margin-top: 98px;
}
.wr-skills .skills-main {
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wr-skills .skills-main .photoshop, .wr-skills .skills-main .html, .wr-skills .skills-main .php, .wr-skills .skills-main .wordpress {
  width: 170px;
  margin: 0 16.5px;
}
.wr-skills .skills-main img {
  padding: 0 10px 0 15px;
}
.wr-skills .skills-main p {
  font-family: lato-reg;
  font-size: 16px;
  color: #505050;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  margin-top: 15px;
}
.wr-skills .skills-main h3 {
  font-family: raleway-medium;
  font-size: 20px;
  color: #262626;
  margin: 0 auto;
  margin-top: 17px;
  text-align: center;
}

.wr-services {
  background-color: #262626;
}
.wr-services .container {
  flex-direction: column;
}
.wr-services .container .services-head {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wr-services .container .services-head h2 {
  font-family: raleway-bold;
  color: #fff;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 90px;
}
.wr-services .container .services-head span {
  color: #ff0036;
}
.wr-services .container .services-head h3 {
  font-family: lato-bold;
  color: #a4a4a4;
  margin-bottom: 0px;
  margin-top: 38px;
  font-size: 16px;
}
.wr-services .container .services-head .decoration {
  margin: 0 auto;
  margin-top: 98px;
}
.wr-services .services-main {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.wr-services .first-column, .wr-services .second-column {
  width: 570px;
}
.wr-services .first-column p, .wr-services .second-column p {
  display: inline-flex;
  text-align: justify;
  font-family: lato-reg;
  font-size: 16px;
  color: #a4a4a4;
  background-color: #343434;
  width: 100%;
  padding: 29px 28px 27px 35px;
  box-sizing: border-box;
  margin: 43px 0 0 0;
  line-height: 1.3;
}
.wr-services .first-column h4, .wr-services .second-column h4 {
  font-family: raleway-medium;
  font-size: 20px;
  color: #fff;
  padding-left: 100px;
  margin: 0 0 0 0;
}
.wr-services .development {
  position: relative;
}
.wr-services .development .fas {
  font-weight: 600;
}
.wr-services .development .fa-code::before {
  font-size: 32.5px;
  box-sizing: border-box;
  padding: 12px 17px 13px 13px;
  color: #262626;
  text-align: center;
  background-image: url("../media/services/back-icon.png");
  background-size: 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-services .development:hover {
  cursor: pointer;
}
.wr-services .development:hover .fa-code::before {
  color: #fff;
  background-image: url("../media/services/development-active.png");
}
.wr-services .development:hover p {
  color: #fff;
  background-color: #3d2329;
}
.wr-services .wordpress {
  position: relative;
  margin-top: 59px;
}
.wr-services .wordpress .fa-wordpress-simple::before {
  font-size: 35px;
  box-sizing: border-box;
  padding: 12px 17px 10px 18px;
  color: #262626;
  text-align: center;
  background-image: url("../media/services/back-icon.png");
  background-size: 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-services .wordpress:hover {
  cursor: pointer;
}
.wr-services .wordpress:hover .fa-wordpress-simple::before {
  color: #fff;
  background-image: url("../media/services/back-icon-active.png");
}
.wr-services .wordpress:hover p {
  color: #fff;
  background-color: #3d2329;
}
.wr-services .ui-ux {
  position: relative;
  margin-top: 59px;
}
.wr-services .ui-ux .fas {
  font-weight: 600;
}
.wr-services .ui-ux .fa-pencil-alt::before {
  font-size: 35px;
  box-sizing: border-box;
  padding: 12px 17px 10px 18px;
  color: #262626;
  text-align: center;
  background-image: url("../media/services/back-icon.png");
  background-size: 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-services .ui-ux:hover {
  cursor: pointer;
}
.wr-services .ui-ux:hover .fa-pencil-alt::before {
  color: #fff;
  background-image: url("../media/services/back-icon-active.png");
}
.wr-services .ui-ux:hover p {
  color: #fff;
  background-color: #3d2329;
}
.wr-services .html-css {
  position: relative;
}
.wr-services .html-css .fa-html5::before {
  font-size: 35px;
  box-sizing: border-box;
  padding: 12px 22px 10px 22px;
  color: #262626;
  text-align: center;
  background-image: url("../media/services/back-icon.png");
  background-size: 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-services .html-css:hover {
  cursor: pointer;
}
.wr-services .html-css:hover .fa-html5::before {
  color: #fff;
  background-image: url("../media/services/back-icon-active.png");
}
.wr-services .html-css:hover p {
  color: #fff;
  background-color: #3d2329;
}
.wr-services .applications {
  position: relative;
  margin-top: 59px;
}
.wr-services .applications .fas {
  font-weight: 600;
}
.wr-services .applications .fa-tablet-alt::before {
  font-size: 35px;
  box-sizing: border-box;
  padding: 12px 20px 10px 19px;
  color: #262626;
  text-align: center;
  background-image: url("../media/services/back-icon.png");
  background-size: 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-services .applications:hover {
  cursor: pointer;
}
.wr-services .applications:hover .fa-tablet-alt::before {
  color: #fff;
  background-image: url("../media/services/back-icon-active.png");
}
.wr-services .applications:hover p {
  color: #fff;
  background-color: #3d2329;
}
.wr-services .responsive-layout {
  position: relative;
  margin-top: 59px;
}
.wr-services .responsive-layout .fas {
  font-weight: 600;
}
.wr-services .responsive-layout .fa-laptop::before {
  font-size: 35px;
  box-sizing: border-box;
  padding: 12px 13px 10px 13px;
  color: #262626;
  text-align: center;
  background-image: url("../media/services/back-icon.png");
  background-size: 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.wr-services .responsive-layout:hover {
  cursor: pointer;
}
.wr-services .responsive-layout:hover .fa-laptop::before {
  color: #fff;
  background-image: url("../media/services/back-icon-active.png");
}
.wr-services .responsive-layout:hover p {
  color: #fff;
  background-color: #3d2329;
}

.wr-bestseller .container {
  align-items: center;
  flex-direction: column;
  position: relative;
}
.wr-bestseller .container .bestseller-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  position: relative;
}
.wr-bestseller .container .bestseller-head img {
  position: absolute;
  top: -109px;
  left: 28%;
}
.wr-bestseller .container h2 {
  font-family: raleway-bold;
  color: #262626;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 0px;
}
.wr-bestseller .container span {
  color: #ff0036;
}
.wr-bestseller .container h3 {
  font-family: lato-bold;
  color: #262626;
  margin-bottom: 0px;
  margin-top: 39px;
  font-size: 16px;
}

/*# sourceMappingURL=main.css.map */
