@import url("../css/normalize.css");
@import url("../css/setting.css");
.promo-container {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../media/why-creativia/background-black.jpg");
}

header {
  height: 67px;
  background-color: rgba(0, 0, 0, 0.5);
}
header .logo {
  padding-left: 65px;
  padding-bottom: 8px;
  vertical-align: middle;
  z-index: 15;
}
header a:hover {
  cursor: pointer;
}
header .hexagon {
  position: absolute;
  top: -3px;
  left: 15px;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.nav-container {
  display: flex;
  height: 100%;
}
.nav-container ul {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-container li {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.nav-container a {
  position: relative;
  font-family: raleway-reg;
  text-decoration: none;
  font-size: 18px;
  color: #a4a4a4;
  padding-left: 3px;
}
.nav-container a:hover {
  color: #fff;
}
.nav-container .active-menu-item {
  position: relative;
}
.nav-container .active-menu-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 13px;
  width: 25px;
  border: 1px solid #ff0036;
}

/* need ending this moment*/
.wr-promo .container {
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
  padding-left: 15px;
}
.wr-promo h1 {
  font-family: raleway-bold;
  font-size: 30px;
  color: #f7f7f7;
  margin-top: 20px;
  margin-bottom: 0px;
}
.wr-promo span {
  color: #ff0036;
}
.wr-promo h3 {
  font-family: lato-light;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  margin-top: 40px;
}
.wr-promo .promo-btns-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.wr-promo .btn-promo {
  display: inline-flex;
  justify-content: center;
  width: 170px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: raleway-medium;
  font-size: 20px;
  color: #f7f7f7;
  text-decoration: none;
  align-items: center;
  background-color: #131313;
}
.wr-promo .btn-promo:hover {
  background-color: #ff0036;
}

/*dodelat*/
.slider {
  width: 1030px;
}
.slider .slick-slider {
  position: relative;
}
.slider .fa-arrow-left {
  display: block;
  position: absolute;
  top: 71%;
  left: -130px;
  width: 17px;
  height: 28px;
  background-image: url("../media/why-creativia/left-arrow-gray.png");
}
.slider .fa-arrow-left:hover {
  background-image: url("../media/why-creativia/left-arrow-active.png");
  cursor: pointer;
}
.slider .fa-arrow-right {
  display: block;
  position: absolute;
  top: 71%;
  right: -130px;
  width: 17px;
  height: 28px;
  background-image: url("../media/why-creativia/right-arrow-gray.png");
}
.slider .fa-arrow-right:hover {
  background-image: url("../media/why-creativia/right-arrow-active.png");
  cursor: pointer;
}

.wr-about .container {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}
.wr-about .decoration {
  margin-top: 100px;
}

.container-head {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-head h2 {
  font-family: raleway-bold;
  color: #262626;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 0px;
}
.container-head span {
  color: #ff0036;
}
.container-head h3 {
  font-family: lato-bold;
  color: #262626;
  margin-bottom: 0px;
  margin-top: 50px;
  font-size: 16px;
}

.container-list {
  margin-top: 100px;
  display: flex;
  /*btn::after*/
}
.container-list .container-list-main {
  flex-direction: column;
  width: 570px;
  margin-right: 30px;
}
.container-list .container-list-main .head-toggles {
  font-family: lato-reg;
  font-size: 16px;
  color: #5c5c5c;
  margin-top: 0px;
  text-align: justify;
}
.container-list .toggles {
  flex-direction: column;
  width: 100%;
}
.container-list .btn {
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
  background-image: url("../media/about/plus-closed.png");
  background-repeat: no-repeat;
  background-position: 0.5%;
}
.container-list .toggles span {
  font-family: raleway-medium;
  font-size: 20px;
  color: #3f3f3f;
}
.container-list .content {
  font-family: lato-reg;
  font-size: 14px;
  color: #505050;
  margin-top: 0;
  padding-left: 17px;
  padding-right: 17px;
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  line-height: 1.4;
  transition: 0.5s;
}

.qualities {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.qualities div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
}
.qualities h3 {
  font-family: raleway-medium;
  font-size: 20px;
  color: #262626;
  margin-bottom: 0;
  margin-top: 35px;
}
.qualities p {
  font-family: lato-reg;
  font-size: 16px;
  color: #616161;
  text-align: center;
  margin-bottom: 0;
  margin-top: 26px;
}
.qualities .flat-design .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-heart-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .flat-design .active:hover {
  background-image: url("../media/about/decorate-heart-active.png");
  cursor: pointer;
}
.qualities .retina-ready .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-ok-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .retina-ready .active:hover {
  background-image: url("../media/about/decorate-ok-active.png");
  cursor: pointer;
}
.qualities .responsive .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-screen-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .responsive .active:hover {
  background-image: url("../media/about/decorate-screen-active.png");
  cursor: pointer;
}
.qualities .clean .active {
  content: "";
  display: block;
  background-image: url("../media/about/decorate-fire-pass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 78px;
}
.qualities .clean .active:hover {
  background-image: url("../media/about/decorate-fire-active.png");
  cursor: pointer;
}

.wr-protfolio {
  background-color: #262626;
}
.wr-protfolio .container {
  align-items: center;
  flex-direction: column;
}
.wr-protfolio .container h2 {
  margin-top: 100px;
  font-family: raleway-bold;
  font-size: 30px;
  color: #fff;
  margin-bottom: 0px;
}
.wr-protfolio .container ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 27px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.wr-protfolio .container li {
  padding-left: 0px;
}
.wr-protfolio .container a {
  text-decoration: none;
  margin-left: 0px;
  margin-right: 23px;
  font-family: lato-bold;
  font-size: 16px;
  color: #a4a4a4;
}
.wr-protfolio .container a:hover {
  color: #ff0036;
}

/*draft*/
.container-portfolio-one {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 4fr 3fr 4fr 3fr;
  height: 350px;
}
.container-portfolio-one .money {
  background-color: #f39943;
  position: relative;
}
.container-portfolio-one .money img {
  position: relative;
  top: 35%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .money .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .money .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-one .money .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .money:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .money::after {
  content: "";
  position: absolute;
  width: 32%;
  height: 104px;
  top: 45%;
  left: 68%;
  z-index: 5;
  background-image: url("../media/portfolio/money-shadow.png");
  background-repeat: no-repeat;
}
.container-portfolio-one .bank {
  background-color: #3782aa;
  position: relative;
}
.container-portfolio-one .bank img {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .bank .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .bank .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-one .bank .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .bank:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .bank::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 110px;
  top: 42.8%;
  left: 80%;
  z-index: 5;
  background-image: url("../media/portfolio/bank-shadow.png");
  background-repeat: no-repeat;
}
.container-portfolio-one .flower {
  background-color: #ef5d88;
  position: relative;
}
.container-portfolio-one .flower img {
  position: absolute;
  top: 27%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .flower .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .flower .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-one .flower .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .flower:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .flower::after {
  content: "";
  position: absolute;
  width: 38%;
  height: 96px;
  top: 46.8%;
  left: 62%;
  z-index: 5;
  background-image: url("../media/portfolio/flower-shadow.png");
  background-repeat: repeat;
}
.container-portfolio-one .cards {
  background-color: #f6f0e0;
  position: relative;
}
.container-portfolio-one .cards img {
  position: absolute;
  top: 27%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-one .cards .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-one .cards .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-one .cards .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-one .cards:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-one .cards::after {
  content: "";
  position: absolute;
  width: 13%;
  height: 110px;
  top: 49.5%;
  left: 87%;
  z-index: 5;
  background-image: url("../media/portfolio/cards-shadow.png");
  background-repeat: no-repeat;
}

.container-portfolio-two {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr 4fr;
  height: 350px;
  padding-bottom: 100px;
}
.container-portfolio-two .calculator {
  background-color: #56cc82;
  position: relative;
}
.container-portfolio-two .calculator img {
  position: relative;
  top: 29%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .calculator .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .calculator .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-two .calculator .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .calculator:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .calculator::after {
  content: "";
  position: absolute;
  width: 38%;
  height: 125px;
  top: 43.8%;
  left: 62%;
  z-index: 5;
  background-image: url("../media/portfolio/calculator-shadow.png");
  background-repeat: repeat;
}
.container-portfolio-two .converter {
  background-color: #95a5a5;
  position: relative;
}
.container-portfolio-two .converter img {
  position: absolute;
  top: 29%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .converter .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .converter .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-two .converter .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .converter:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .converter::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 112px;
  top: 44.8%;
  left: 65%;
  z-index: 5;
  background-image: url("../media/portfolio/converter-shadow.png");
  background-repeat: repeat;
}
.container-portfolio-two .wallet {
  background-color: #24b0c9;
  position: relative;
}
.container-portfolio-two .wallet img {
  position: absolute;
  top: 27%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .wallet .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .wallet .active-item img {
  position: absolute;
  top: 46%;
  left: 48%;
}
.container-portfolio-two .wallet .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .wallet:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .wallet::after {
  content: "";
  position: absolute;
  width: 19%;
  height: 115px;
  top: 45.5%;
  left: 81%;
  z-index: 5;
  background-image: url("../media/portfolio/wallet-shadow.png");
  background-repeat: no-repeat;
}
.container-portfolio-two .check {
  background-color: #fa8562;
  position: relative;
}
.container-portfolio-two .check img {
  position: absolute;
  top: 31.5%;
  left: 25%;
  z-index: 10;
}
.container-portfolio-two .check .active-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-portfolio-two .check .active-item img {
  position: absolute;
  top: 46%;
  left: 45%;
}
.container-portfolio-two .check .active-item p {
  font-family: lato-reg;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 37%;
}
.container-portfolio-two .check:hover .active-item {
  display: block;
  cursor: pointer;
}
.container-portfolio-two .check::after {
  content: "";
  position: absolute;
  width: 31%;
  height: 92px;
  top: 48.8%;
  left: 69%;
  z-index: 5;
  background-image: url(../media/portfolio/check-shadow.png);
  background-repeat: repeat;
}

.wr-feature {
  background-image: url("../media/products-features/mobile-photo.png");
  background-repeat: no-repeat;
  background-position: center;
}
.wr-feature a {
  text-decoration: none;
  font-family: raleway-medium;
  font-size: 20px;
  color: #262626;
}
.wr-feature .container {
  align-items: center;
  flex-direction: column;
  position: relative;
}
.wr-feature .container .feature-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  position: relative;
}
.wr-feature .container .feature-head img {
  position: absolute;
  top: -109px;
  left: 27.5%;
}
.wr-feature .container h2 {
  font-family: raleway-bold;
  color: #262626;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 0px;
}
.wr-feature .container span {
  color: #ff0036;
}
.wr-feature .container h3 {
  font-family: lato-bold;
  color: #262626;
  margin-bottom: 0px;
  margin-top: 50px;
  font-size: 16px;
}
.wr-feature .btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 175px;
  width: 100%;
}
.wr-feature .btns-container .left-side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wr-feature .btns-container .left-side .btn-left {
  width: 370px;
  height: 50px;
  border: 1px solid #f7f7f7;
}
.wr-feature .btns-container .right-side {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.wr-feature .btns-container .right-side .btn-right {
  width: 370px;
  height: 50px;
  border: 1px solid #f7f7f7;
}
.wr-feature .btn-free-psd {
  display: inline-flex;
  justify-content: center;
  width: 170px;
  height: 50px;
  margin-bottom: 175px;
  margin-top: 185px;
  color: #f7f7f7;
  align-items: center;
  background-color: #131313;
}
.wr-feature .btn-free-psd:hover {
  background-color: #ff0036;
}

/*# sourceMappingURL=main.css.map */
