.wr-feature {
    a { 
        text-decoration: none;
        font-family: raleway-medium;
        font-size: 20px;
        color: #262626;
    }
    .container {
        align-items: center;
        flex-direction: column;
        position: relative;
        padding-bottom: 67px;
        .feature-head {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 100px;
            width: 100%;
            position: relative;
            img {
                position: absolute;
                top: -109px;
                left: 28%;
            }
        }
        h2 {
            font-family: raleway-bold;
            color: #262626;
            font-size: 30px;
            margin: 0 auto;
            text-align: center;
        }
        span {
                color: #ff0036;
            }
        h3 {
            font-family: lato-bold;
            color: #262626;
            margin-bottom: 0px;
            margin-top: 42px;
            font-size: 16px;
            text-align: center;
        }
    }
    .btns-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 34px;
        width: 100%;
        padding-top: 143px;
        padding-bottom: 74px;
        background-image: url('../media/products-features/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        .btns-container-columns{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .left-side {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .btn-left {
                width:370px;
                height: 52px;
                border: 1px solid #e1e1e1;
                box-sizing: border-box;
                margin-top: 23px;
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                background-image:url('../media/products-features/pass-icon.png') ;
                background-repeat: no-repeat;
                background-position-x: 93.8%;
                background-position-y: center;
                outline: none;
            }
            .first {
                margin: 0;
            }
            p {
                margin-right: 75px;
            }
            .btn-left:hover {
                background-image: url('../media/products-features/active-icon.png');
                background-color: #ff0036;
                color: #fff;
            }
        }
        .right-side {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            .btn-right {
                width:370px;
                height: 52px;
                border: 1px solid #e1e1e1;
                box-sizing: border-box;
                margin-top: 23px;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                background-image:url('../media/products-features/pass-icon.png') ;
                background-repeat: no-repeat;
                background-position-x: 6%;
                background-position-y: center;
                outline: none;
            }
            .first {
                margin: 0;
            }
            p {
                margin-left: 75px;
            }
            .btn-right:hover {
                background-image: url('../media/products-features/active-icon.png');
                background-color: #ff0036;
                color: #fff;
            }
        }
    }
    .btns-container-columns{
        display: flex;
        justify-content: space-between;
    }
    .btn-free-psd {
        display: inline-flex;
        justify-content: center;
        width: 170px;
        height: 50px;
        margin-top: 185px;
        color: #f7f7f7;
        align-items: center;
        background-color: #393939;
        outline: none;
    }
    .btn-free-psd:hover {
        background-color: #ff0036;
    }
}
@media all and (max-width:1024px) {
    .wr-feature {
        a{
            font-size: 16px;
        }
        .container {
            .feature-head {
                img {
                    position: absolute;
                    top: -109px;
                    left: 24%;
                }
            }
        }
        .btns-container {
            margin-top: 10px;
            padding-top: 120px;
            padding-bottom: 50px;
            .left-side {
                p{
                    margin-right: 25%;
                    text-align: end;
                }
                .btn-left{
                    width: 300px;
                }
            }
            .right-side {
                p{
                    margin-left: 25%;
                    text-align: start;
                }
                .btn-right{
                    width: 300px;
                }
            }
        }
        .btn-free-psd {
            width: 150px;
            height: 40px;
            margin-top: 150px;
        }
    }
}
@media all and (max-width:768px) {
    .wr-feature {
        a{
            font-size: 16px;
        }
        .container {
            .feature-head {
                margin-top: 50px;
                img {
                    position: absolute;
                    top: -59px;
                    left: 15%;
                }
            }
        }
        .btns-container {
            margin-top: 0px;
            padding-top: 50px;
            padding-bottom: 0px;
            background-image: none;
            justify-content: space-around;
            .btns-container-columns{
                justify-content: space-around;
            }
            .left-side {
                .btn-left{
                    width: 300px;
                }
            }
            .right-side {
                .btn-right{
                    width: 300px;
                }
            }
        }
        .btn-free-psd {
            width: 150px;
            height: 40px;
            margin-top: 50px;
            border-radius: 5%;
        }
    }
}
@media all and (max-width:700px) {
    .wr-feature {
        .container {
            .feature-head {
                img {
                    display: none;
                }
            }
        } 
    }
} 
@media all and (max-width:550px) {
    .wr-feature {
        .btns-container {
            .left-side {
                .btn-left{
                    width: 200px;
                }
            }
            .right-side {
                .btn-right{
                    width: 200px;
                }
            }
        }
    }
}
@media all and (max-width:455px) {
    .wr-feature {
        a{
            font-size: 12px;
        }
        .container {
            padding-top: 50px;
            padding-bottom: 47px;
            h2{
                font-size: 25px;
            }
            h3{
                font-size: 14px;
            }
            .feature-head {
                margin: 0px;
                img {
                    display: none;
                }
            }
        }
        .btns-container {
            .left-side {
                p{
                    margin-right: 26%;
                }
                .btn-left{
                    width: 180px;
                }
            }
            .right-side {
                p{
                    margin-left: 27%;
                }
                .btn-right{
                    width: 180px;
                }
            }
        }
        .btn-free-psd {
            width: 150px;
            height: 40px;
            margin-top: 50px;
            border-radius: 5%;
        }
    }
}
@media all and (max-width:375px) {
    .wr-feature {
        .container {
            padding: 50px 0 45px 0;
            h2{
                font-size: 20px;
            }
        }
        .btns-container {
            .left-side {
                p{
                    margin: 0;
                }
                .btn-left, .btn-left:hover{
                    width: 180px;
                    background-image: none;
                    justify-content: center;
                }
            }
            .right-side {
                p{
                    margin: 0;
                }
                .btn-right, .btn-right:hover {
                    width: 180px;
                    justify-content: center;
                    background-image: none;
                }
            }
        }
        .btn-free-psd {
            width: 150px;
            height: 40px;
            margin-top: 50px;
            border-radius: 5%;
        }
    }
}
@media all and (max-width:320px) {
    .wr-feature {
        a{
            font-size: 10px;
        }
        .container {
            h3{
                margin-top: 45px;
            }
        }
        .btns-container {
            .left-side {
                .btn-left, .btn-left:hover{
                    width: 150px;
                }
            }
            .right-side {
                .btn-right, .btn-right:hover {
                    width: 150px;
                }
            }
        }
    }
}
