.wr-feature {
    .container{
        position: relative;
        ::before{
            content: url('/programming/project-on-27/creativia/media/portfolio/scroll-bar-sexangel.png');
            position: absolute;
            background-repeat: no-repeat;
            display: block;
            top: 0;
            left: 50%;
        }
        .feature-head {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 100px;
            width: 100%;
        }
            h2 {
                font-family: raleway-bold;
                color: #262626;
                margin-bottom: 0px;
                font-size: 30px;
                margin-top: 0px;
            }
            span {
                    color: #ff0036;
                }
            h3 {
                font-family: lato-bold;
                color: #262626;
                margin-bottom: 0px;
                margin-top: 50px;
                font-size: 16px;
            }
    }
}
