.wr-fine-us {
    .container {
        align-items: center;
        flex-direction: column;
        position: relative;
        padding-top: 103px;
        padding-bottom: 97px;
    }
    .fine-us-head {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        img {
            position: absolute;
            top: -112px;
            left: 28%;
        }
    }
    h2 {
        font-family: raleway-bold;
        color: #262626;
        margin-bottom: 0px;
        font-size: 30px;
        margin-top: 0px;
        text-align: center;
    }
    span {
        color: #ff0036;
    }
    h3 {
        font-family: lato-bold;
        color: #262626;
        margin-bottom: 0px;
        margin-top: 39px;
        font-size: 16px;
        text-align: center;
    }
    .container-main {
        background-image: url('../media/fine-us/background.jpg');
        background-size: cover;
        max-width: 1170px;
        margin: 0 auto;
        padding: 100px 135px 0 135px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        .info { 
            width: 300px;
            height: 227px;
            background-image: url('../media/fine-us/data-shape.png');
            background-repeat: no-repeat;
            margin-bottom: 100px;
        }
        ul {
            list-style-type: none;
            text-align: center;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            padding: 34px 0 47px 24px;
            margin: 0px;
            font-weight: 600;
            font-family: myriad-reg;
            font-size: 16px;
            color: #fff;
        }
        li:not(:first-child) {
            margin-top: 3px;
        }
    }
    .fine-us-form {
        padding: 46px 49px 47px 43px; 
        display: flex;
        flex-direction: column;
        height: 475px;
        width: 470px;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.17);
        p {
            font-family: raleway-medium;
            font-size: 20px;
            color: #262626;
            margin: 0;
        }
    }
    form {
        margin-top: 46px;
        display: flex;
        flex-direction: column;
    }
    input {
        border: 1px solid #e7e7e7;
        box-sizing: border-box;
        height: 34px;
        padding-left: 15px;
        font-family: lato-reg;
        font-size: 16px;
        color: #505050;
    }
    input:not(:first-child) {
        margin-top: 17px;
    }
    input:last-of-type {
        margin-top: 27px;
    }
    textarea { 
        margin-top: 17px;
        border: 1px solid #e7e7e7;
        box-sizing: border-box;
        resize: none;
        font-family: lato-reg;
        font-size: 16px;
        color: #505050;
        line-height: 1;
    }
    .submit {
        width: 120px;
        height: 40px;
        background-color: #262626;
        padding: 0;
        border: none;
        transition-duration: 0.5s;
        font-family: lato-reg;
        font-size: 16px;
        color: #fff;
        justify-content: center;
        margin-left: 258px;
        outline: none;
    }
    .submit:hover {
        cursor: pointer;
        text-shadow: 0px 0px 6px rgba(223, 225, 142, 1);
    }
}
@media all and (max-width:1024px) {
    .wr-fine-us{
        .fine-us-head {
            img {
            position: absolute;
            top: -112px;
            left: 24%;
            }
        }
        .container-main {
            padding: 100px 15px 0 15px;
        }
    } 
}
@media all and (max-width:768px) {
    .wr-fine-us{
        .container {
            padding: 60px 15px;
        }
        .fine-us-head {
            img {
            top: -69px;
            left: 15%;
            }
        }
        .container-main {
            align-items: center;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 50px 15px 0 15px;
            .info{
                margin-bottom: 10px;
                margin-left: 50%;
            }
        }
        .fine-us-form {
            margin-bottom: 30px;
        }
    } 
}
@media all and (max-width:700px) {
    .wr-fine-us{
        .fine-us-head {
            img {
            display: none;
            }
        }
    }
}
@media all and (max-width:550px) {
    .wr-fine-us {
        overflow-x: hidden;
    }
}
@media all and (max-width:455px) {
    .wr-fine-us {
        .container {
            padding: 60px 15px;
        }
        h2 {
            font-size: 25px;
        }
        h3 {
            margin-top: 20px;
            font-size: 14px;
        }
        .container-main {
            background-image: none;
            background-color: #f4f3f2;
            padding: 30px 0 10px 0;
            .info {
                margin: 0 auto;
                background-image: none;
                background-color: #262626;
                width: 50%;
                height: 40%;
            }
            ul {
                padding: 20px 0 20px 5px;
            }
        }
        .fine-us-form {
            margin-bottom: 30px;
            padding: 25px 25px 20px 25px;
            height: 100%;
            width: 95%;
            align-items: center;
        } 
        form {
            width: 100%;
            margin-top: 20px;
        }
        input:last-of-type {
            margin-top: 15px;
        }
        .submit {
            font-size: 15px;
            margin: 0 auto;
        }
    } 
}
@media all and (max-width:375px) {
    .wr-fine-us{
        h2 {
            font-size: 20px;
        }
        .container-main {
            .info {
                width: 70%;
                height: 40%;
            }
            ul {
                align-items: center;
                padding: 10px 0 10px 5px;
            }
        }
        .fine-us-form {
            p {
                font-size: 16px;
            }
        } 
        .submit {
            font-size: 14px;
        }
    }
}
