.wr-footer {
    background-color: #262626;
    .container {
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 26px;
        a { 
            width: 120px;
            height: 23px;
            outline: none;
        }
    }
}
@media all and (max-width:768px) {
    .wr-footer {
        .container {
            padding-top: 15px;
            padding-bottom: 16px;
        }   
    }
}
@media all and (max-width:375px) {
    .wr-footer {
        .container {
            padding-top: 7px;
            padding-bottom: 7px;
        }   
    }
}
