.wr-protfolio {
    background-color: #262626;
    .container {
        align-items: center;
        flex-direction: column;
        h2 {
            margin-top: 100px;
            font-family: raleway-bold;
            font-size: 30px;
            color: #fff;
            margin-bottom: 0px;
        }
        ul {
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 27px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
        li {
            padding-left: 0px;
        }
        a {
            text-decoration: none;
            margin-left: 0px;
            margin-right: 23px;
            font-family: lato-bold;
            font-size: 16px;
            color: #a4a4a4;
        }
        a:hover {
            color: #ff0036;
        }
    }
}/*draft*/
.container-portfolio-one {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 4fr 3fr 4fr 3fr; 
    height: 350px;
    .money {
        background-color: #f39943;
        position: relative;
        img {
            position: relative;
            top: 35%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 45%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }
        
    }
    .money:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .money::after {
        content: "";
        position: absolute;
        width: 32%;
        height: 104px;
        top: 45%;
        left: 68%;
        z-index: 5;
        background-image: url('../media/portfolio/money-shadow.png');
        background-repeat: no-repeat;
    }
    .bank { 
        background-color: #3782aa;
        position: relative;
        img {
            position: absolute;
            top: 25%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 48%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }    
    }
    .bank:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .bank::after {
        content: "";
        position: absolute;
        width: 20%;
        height: 110px;
        top: 42.8%;
        left: 80%;
        z-index: 5;
        background-image: url('../media/portfolio/bank-shadow.png');
        background-repeat: no-repeat;
    }
    .flower {
        background-color: #ef5d88;
        position: relative;
        img {
            position: absolute;
            top: 27%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 45%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }    
    }
    .flower:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .flower::after {
        content: "";
        position: absolute;
        width: 38%;
        height: 96px;
        top: 46.8%;
        left: 62%;
        z-index: 5;
        background-image: url('../media/portfolio/flower-shadow.png');
        background-repeat: repeat;
    }
    .cards {
        background-color: #f6f0e0;
        position: relative;
        img {
            position: absolute;
            top: 27%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 48%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }    
    }
    .cards:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .cards::after {
        content: "";
        position: absolute;
        width: 13%;
        height: 110px;
        top: 49.5%;
        left: 87%;
        z-index: 5;
        background-image: url('../media/portfolio/cards-shadow.png');
        background-repeat: no-repeat;
    } 
}
.container-portfolio-two {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr 4fr;
    height: 350px;
    padding-bottom: 100px;
    .calculator {
        background-color: #56cc82;
        position: relative;
        img {
            position: relative;
            top: 29%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 48%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }    
    }
    .calculator:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .calculator::after {
        content: "";
        position: absolute;
        width: 38%;
        height: 125px;
        top: 43.8%;
        left: 62%;
        z-index: 5;
        background-image: url('../media/portfolio/calculator-shadow.png');
        background-repeat: repeat;
    }
    .converter {
        background-color: #95a5a5;
        position: relative;
        img {
            position: absolute;
            top: 29%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 45%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }    
    }
    .converter:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .converter::after {
        content: "";
        position: absolute;
        width: 35%;
        height: 112px;
        top: 44.8%;
        left: 65%;
        z-index: 5;
        background-image: url('../media/portfolio/converter-shadow.png');
        background-repeat: repeat;
    }
    .wallet {
        background-color: #24b0c9;
        position: relative;
        img {
            position: absolute;
            top: 27%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 48%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }    
    }
    .wallet:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .wallet::after {
        content: "";
        position: absolute;
        width: 19%;
        height: 115px;
        top: 45.5%;
        left: 81%;
        z-index: 5;
        background-image: url('../media/portfolio/wallet-shadow.png');
        background-repeat: no-repeat;
    }
    .check{
        background-color: #fa8562;
        position: relative;
        img {
            position: absolute;
            top: 31.5%;
            left: 25%;
            z-index: 10;
        }
        .active-item {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.9);
            img {
                position: absolute;
                top: 46%;
                left: 45%;
            }
            p {
                font-family: lato-reg;
                font-size: 16px;
                color: #fff;
                position: absolute;
                top: 55%;
                left: 37%;
            }
        }    
    }
    .check:hover .active-item {
        display: block;
        cursor: pointer;
    }
    .check::after {
        content: "";
        position: absolute;
        width: 31%;
        height: 92px;
        top: 48.8%;
        left: 69%;
        z-index: 5;
        background-image: url(../media/portfolio/check-shadow.png);
        background-repeat: repeat;
    }
}
