.promo-container {
    background-position: center;
    background-size: cover;
    background-image: url('../media/why-creativia/background-black.jpg');
}
header {
    height: 67px;
    background-color: rgba(0, 0, 0, 0.5);
    .container { 
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }
    .logo { 
        position: relative;
        width: 251px;
        height: 104px;
        outline: none;
    }
    .logotip {
        position: absolute;
        top: -2px;
        outline: none;
    }
}
.menu-block {   
    display: flex;
    height: 100%;
    nav {
        display: flex;
        height: 100%;
        padding: 0;
        margin-right: 1px;
        ul {
            display: flex;
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            margin-left: 33px;
            display: flex;
            align-items: center;
            position: relative;
        }
        a {  
            position: relative;
            font-family: raleway-reg;
            text-decoration: none;
            font-size: 18px;
            color: #a4a4a4;
            outline: none;
        }
        a:hover {
            color: #fff;
            cursor: pointer;
        }
        li:hover:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 27%;
            width: calc(100%/2);
            border: 1px solid #ff0036;
        }
    }
    .menu-btn {
        display: none;
        height: 100%;
        width: 40px;
        background-color: #fff;
        position: relative;
        outline: none;
        span, span::after, span::before {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            margin-left: -10px;
            width: 20px;
            height: 2px;
            background-color: #262626;
        }
        span::after, span::before {
            content: ('');
            transition: 0.2s;
        }
        span::before {
            transform: translateY(-5px);
        }
        span::after {
            transform: translateY(5px);
        }
    }
    .menu-btn-active {
        span {
            height: 0px;
        }
        span::before {
            transform: rotate(45deg);
        }
        span::after {
            transform: rotate(-45deg);
        }
    }
}
.wr-promo {
    .container {
        align-items: center;
        flex-direction: column;
        padding-top: 180px;
        padding-bottom: 213px;
        padding-left: 15px;
    }
    .promo-btns-container {
        margin-top:46px;
        display: flex;
        justify-content: center;
    }
    .btn-promo {
        display: inline-flex;
        justify-content: center;
        width: 170px;
        height: 50px;
        margin-left: 15px;
        margin-right: 15px;
        font-family: raleway-medium;
        font-size: 20px;
        color: #f7f7f7;
        text-decoration: none;
        align-items: center;
        background-color: #131313;
        outline: none;
    }
    .btn-promo:hover {
        background-color: #ff0036;
    }
}
.slider {
    width: 88%;
    display: flex;
    justify-content: center;
    h1 {
        font-family: raleway-bold;
        font-size: 30px;
        color: #f7f7f7;
        margin: 0px;
        text-align: center;
        span {
            color: #ff0036;
        }
    }
    h3 {
        font-family: lato-reg;
        font-size: 16px;
        text-align: center;
        line-height: 1.4;
        margin-top: 40px;   
    }
    .slick-slider {
        position: relative;
    }
    .slick-prev {
        display: block;
        position: absolute;
        top: 59%;
        left: -13%;
        width: 17px;
        height: 28px;
        background-image: url("../media/why-creativia/left-arrow-gray.png");
    }
    .slick-prev::before {
        display: none;
    }
    .slick-prev:hover {
        background-image: url("../media/why-creativia/left-arrow-active.png");
        cursor: pointer;
    }
    .slick-next {
        display: block;
        position: absolute;
        top: 59%;
        right: -13%;
        width: 17px;
        height: 28px;
        background-image: url("../media/why-creativia/right-arrow-gray.png");
    }
    .slick-next::before {
        display: none;
    }
    .slick-next:hover {
        background-image: url("../media/why-creativia/right-arrow-active.png");
        cursor: pointer;
    }
    .slick-slide {
        outline: none;
    }
}
@media all and (max-width:1024px) {
    .menu-block{
        nav {
            margin: 0px;
            padding: 0px;
            li { 
                margin-left: 18px;
            }
        }
    }
    .slider {
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 75%;
        .slick-next {
            right: -13%;
        }
        .slick-prev {
            left: -13%;
        }
    }
}
@media all and (max-width:991px) {
    .menu-block{
        nav {
            margin-left: 5px;
            li { 
                margin-left: 7px;
            }
            a {
                font-size: 14px;
            }
        }
    }
    .slider {
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 75%;
    }

}
@media all and (max-width:768px) {
    header{
        .logo {
        width: 200px;
        }
        .logotip {
            top: 0px;
            width: 100%;
        }
    }
    .wr-promo{
        .container{
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .slider{
            width: 80%;
        }
    }
}
@media all and (max-width:455px) {
    header {
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        .container { 
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
        }
        .logo { 
            width: 175px;
        }
        .logotip {
            width: 100%;
        }
    }
    .wr-promo-active {
        transform: translateX(-30%);
        z-index: 20;
    }
    .menu-block {   
        position: fixed;
        right: 0;
        top: 0;
        height: 250px;
        width: 30%;
        background-color: #fff;
        transition-duration: 1s;
        transform: translateX(100%);
        z-index: 50;
        nav {
            width: 50%;
            height: 100%;
            padding: 0;
            margin: 0 auto;
            ul {
                display: flex;
                flex-direction: column;
            }
            li {
                height: 32px;
                margin:0 auto;
            }
            a {  
                font-size: 14px;
                color: #a4a4a4;
                outline: none;
            }
            a:hover {
                color: #ff0036;
                cursor: pointer;
            }
            li:hover:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 25%;
                width: calc(100%/2);
                border: 1px solid #ff0036;
            }
        }   
        .menu-btn {
            display: block;
            position: absolute;
            left: -40px;
            top: 0;
            height: 40px;
            width: 40px;
            background-color: #fff;
            outline: none;
            padding: 0;
            border: none;
            color: inherit;
            span, span::after, span::before {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -1px;
                margin-left: -10px;
                width: 20px;
                height: 2px;
                background-color: #262626;
            }
            span::after, span::before {
                content: ('');
                transition: 0.2s;
            }
            span::before {
                transform: translateY(-5px);
            }
            span::after {
                transform: translateY(5px);
            }
        }
        .menu-btn-active {
            span {
                height: 0px;
            }
            span::before {
                transform: rotate(45deg);
            }
            span::after {
                transform: rotate(-45deg);
            }
        }
    }
    .menu-block-active{
        transform: translateX(0%);
    }
    .slider {
        .slick-prev, .slick-next {
            position: fixed;
        }
        h1 {
            font-size: 25px;
        }
        h3 {
            font-size: 14px;
            text-align: justify; 
            padding: 5px;
        }
    }
    .wr-promo {
        .promo-btns-container {
            margin-top:30px;
        }
        .btn-promo {
            width: 125px;
            height: 30px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 14px;
        }
    }
}
@media all and (max-width:375px) {
    .slider { 
        width: 95%;
        .slick-next {
            display: none;
        }
        .slick-track {
            margin: 0 2px;
        }
    }
    .menu-block {   
        width: 40%;
    }
}
@media all and (max-width:320px) {
    .wr-promo .container {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    header .logo {
        width: 120px;
    }
    .wr-promo{
        .slider {
            width: 100%;
            h1 {
                font-size: 20px;
            }
            h3 {
                font-size: 12px;
                text-align-last: center;
            }
        }
    }
    .btn-promo {
    width: 95px;
    }
    .menu-block {   
        width: 45%;
    }
}
