.wr-skills {
    .container {
        flex-direction: column;
        .skills-head {  
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: relative;
            h2 {
                font-family: raleway-bold;
                color: #262626;
                margin-bottom: 0px;
                font-size: 30px;
                margin-top: 90px;
            }
            span {
                color: #ff0036;
            }
            h3 {
                font-family: lato-bold;
                color: #505050;
                margin-bottom: 0px;
                margin-top: 38px;
                font-size: 16px;
            }
            .decoration {
                margin: 0 auto;
                margin-top: 98px;
            }
        }  
    }
    .skills-main{
        margin: 100px 0 100px 0;
        display:flex;
        justify-content: center;
        align-items: center;
        .photoshop, .html, .php, .wordpress {
            width: 170px;
            margin: 0 16.5px;
        }
        img { 
            padding: 0 10px 0 15px;      
        }
        p {
            font-family: lato-reg;
            font-size: 16px;
            color: #505050;
            text-align: justify;
            text-align-last: center;
            margin: 0 auto;
            margin-top: 15px;
        }
        h3 {
            font-family: raleway-medium;
            font-size: 20px;
            color: #262626;
            margin: 0 auto;
            margin-top: 17px;
            text-align: center;
        }
    }
}