.wr-teamwork {
    .container {
        flex-direction: column;
        padding-top: 94px;
        padding-bottom: 98px;
        .teamwork-head {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: relative;
            h2 {
                font-family: raleway-bold;
                color: #262626;
                margin-bottom: 0px;
                font-size: 30px;
                margin-top: 0px;
                text-align: center;
            }
            span {
                    color: #ff0036;
                }
            h3 {
                font-family: lato-bold;
                color: #505050;
                margin-bottom: 0px;
                margin-top: 38px;
                font-size: 16px;
                text-align: center;
            }
            img {
                position: absolute;
                top: -103px;
                left: 28%;
            }
        }
    } 
    .teamwork-main {
        display: flex;
        justify-content: space-between;
        margin-top: 98px;
        width: 100%;
    }
    .wayne-pass,.srour-pass,.doe-pass,.de-pass{
        width: 100%;
        img{
            width:100%;
        }
    }   
    .wayne, .srour, .doe, .de {
        width: 270px;
        height: 100%;
        line-height: 0.74;
        position: relative;
        h3 {
            font-size: 20px;
            color: #262626;
            margin: 33px 0 0 0;
        }
        p {
            color: #505050;
            font-family: lato-reg;
            font-size: 16px;
            margin: 26px 0 35px 0;
        }
        .team-info { 
            margin: 0;
            border: 1px solid #e7e7e7;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .wayne-hover, .srour-hover, .doe-hover, .de-hover {
        display: none;
        width: 100%;
        height: 100%;
        line-height: 0.74;
        position: absolute;
        top: 0;
        left: 0;
        .social-networks {
            width: 100%;
            height: 66.45%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #262626;
            .facebook {
                content: url('../media/teamwork/facebook.png');
                margin: 0 5px;
            }
            .google {
                content: url('../media/teamwork/google+.png');
                margin: 0 5px;
            }
            .twitter {
                content: url('../media/teamwork/twitter.png');
                margin: 0 5px;
            }
        }    
        h3 {
            font-size: 20px;
            color: #ff0036;
            margin: 33px 0 0 0;
        }
        p {
            color: #505050;
            margin: 26px 0 35px 0;
            font-family: lato-reg;
            font-size: 16px;
        }
        .team-info-hover { 
            margin: 0;
            border: 1px solid #262626;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            height: 33.55%;
        }
    }
    .wayne:hover .wayne-hover,.srour:hover .srour-hover,.doe:hover .doe-hover,.de:hover .de-hover {
        display: block;
        cursor: pointer;
    }
}
@media all and (max-width:1024px) {
    .wr-teamwork {
        .container {
            .teamwork-head {
                img {
                    left: 24%;
                } 
            }
        }
        .teamwork-main {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 98px;
            width: 100%;
            .wayne, .srour, .doe, .de {
                margin: 0 31px;
            }
            .doe, .de {
                margin-top: 30px;
            }
        }
    }
}
@media all and (max-width:900px) {
    .wr-teamwork {
        .container {
            .teamwork-head {
                img {
                    left: 20%;
                }
            }
        }
    }
}
@media all and (max-width:768px) {
    .wr-teamwork {
        .container {
            padding-top:60px;
            padding-bottom: 60px;
            .teamwork-head {
                img {
                    top: -69px;
                    left: 15%;
                } 
            }
        }
        .teamwork-main {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 60px;
            width: 100%;
            .wayne, .srour, .doe, .de {
                margin: 0px;
                width: 36.8%;
            }
            .doe, .de {
                margin-top: 30px;
            }
        }
    }
}
@media all and (max-width:700px) {
    .wr-teamwork {
        .container {
            .teamwork-head {
                img {
                    display: none;
                }
            }
        } 
    }
}
@media all and (max-width:455px) {
    .wr-teamwork {
        .container {
            padding-top: 50px;
            padding-bottom: 50px;
            .teamwork-head {
                h2 {
                    font-size: 25px;
                }
                h3 {
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
        .teamwork-main {
            margin-top: 45px;
        }
        .wayne, .srour, .doe, .de {
            h3 {
                font-size: 14px;
                margin: 20px 0 0 0;
            }
            p {
                font-size: 14px;
                margin: 16px 0 25px 0;
            }
        }
        .wayne-hover, .srour-hover, .doe-hover, .de-hover {
            .social-networks {
                height: 60%;
                .facebook {
                    width: 40px;
                    margin: 0 2px;
                }
                .google {
                    width: 40px;
                    margin: 0 2px;
                }
                .twitter {
                    width: 40px;
                    margin: 0 2px;
                }
            }    
            h3 {
                font-size: 14px;
                margin: 20px 0 0 0;
            }
            p {
                font-size: 14px;
                margin: 16px 0 25px 0;
            }
            .team-info-hover { 
                height: 40%;
            }
        } 
    }
}
@media all and (max-width:375px) {
    .wr-teamwork {
        .container {
            padding-top: 30px;
            padding-bottom: 30px;
            .teamwork-head {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
        .teamwork-main {
            margin-top: 45px;
        }
        .wayne, .srour, .doe, .de {
            h3 {
                font-size: 14px;
                margin: 20px 0 0 0;
            }
            p {
                font-size: 14px;
                margin: 16px 0 25px 0;
            }
        }
        .wayne-hover, .srour-hover, .doe-hover, .de-hover {
            .social-networks {
                height: 57%;
                .facebook {
                    width: 35px;
                    margin: 0 2px;
                }
                .google {
                    width: 35px;
                    margin: 0 2px;
                }
                .twitter {
                    width: 35px;
                    margin: 0 2px;
                }
            }
            .team-info-hover { 
                height: 43%;
            }
        } 
    }
}
@media all and (max-width:320px) {
    .wr-teamwork {
        .container {
            padding-top: 30px;
            padding-bottom: 30px;
            .teamwork-head {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
        .teamwork-main {
            margin-top: 25px;
            .doe, .de {
                margin-top: 10px;
            }
        }
        .wayne:hover .wayne-hover,.srour:hover .srour-hover,.doe:hover .doe-hover,.de:hover .de-hover {
            display: none;
            cursor: pointer;
        } 
    }
}
