.wr-twitter {
    background-image: url('../media/last-tweets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
        p {
            width: 646px;
            text-align: center;
            font-family: lato-reg;
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 0px;
            margin-top: 21px;
            align-items: center;
        }
    }
}
@media all and (max-width:768px) {  
    .wr-twitter {
        .container {
            padding-top: 60px;
            padding-bottom: 60px;
            p {
                width: 90%;
            }
        }
    }
}
@media all and (max-width:455px) { 
    .wr-twitter {
        background-image: none;
        background-color: #262626;
        .container {
            padding-top: 50px;
            padding-bottom: 50px;
            p {
                font-size: 14px;
            }
        }
    }
}
